
<!-- services.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page %></title>
  <% for (const stylesheet of stylesheets) { %>
    <link rel="stylesheet" href="<%= stylesheet %>">
  <% } %>
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact us</a>
  </nav>
  <div class="container">
    <h1>Our Services</h1>
    <ul>
      <li>education</li>
      <li>transport</li>
      <li>comptabilité</li>
      <li>Finance</li>
    </ul>
  </div>
</body>
</html>
